<div class="pre-post">  <!--this is pulling from a file/ harcoded from array -->
  {{#each blogPrePost}}
  <div class="post-heading">
    <h2>{{this.post_heading}}</h2>
    <p>Posted by {{this.user_name}} on {{format_date this.post_date}}</p>
  </div>
  <div class="post-body">
    <p>{{this.post_body}}</p>
    <div class="comment-form">
      <h3>Add a Comment</h3>
      <form id="comment-form" action="/comment/{{this.blog_id}}" method="POST">
        <textarea id="comment-text" placeholder="Your comment here" rows="4"></textarea>
       {{#if logged_in}}
        <button type="submit">Post Comment</button>
      {{else}}
        <p>Please <a href="/login">login</a> to add a comment.</p>
        {{/if}}
      </form>
    </div>
    <div class="comment-section">
      <h3>Comments</h3>
      <ul class="comment-list">
        {{#each this.comments}}
        <li>
          <div class="comment">
            <p>{{user_name}}</p>
            <p>{{comment}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</div>

 <div class="blog-posts">  <!--this is pulling from mysql database HELP -->
  {{#each blogPosts}}
  <div class="post-heading">
    <h2>{{post_heading}}</h2>
    <p>Posted by {{user_name}} on {{format_date post_date}}</p>
  </div>
  <div class="post-body">
    <p>{{post_body}}</p>
    <div class="comment-form">
      <h3>Add a Comment</h3>
      <form id="comment-form" action="/comment/{{this.blog_id}}" method="POST">
        <textarea id="comment-text" placeholder="Your comment here" rows="4"></textarea>
       {{#if logged_in}}
        <button type="submit">Post Comment</button>
      {{else}}
        <p>Please <a href="/login">login</a> to add a comment.</p>
        {{/if}}
      </form>
    </div>
    <div class="comment-section">
      <h3>Comments</h3>
      <ul class="comment-list">
        {{#each Comments}}
        <li>
          <div class="comment">
            <p>{{user.username}}</p>
            <p>{{comment}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</div>
